/* Three Main WebFonts */
@font-face {
    font-family: 'FontOne';
    src: url(fonts/Cinzel-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'FontTwo';
    src: url(fonts/Merriweather-VariableFont_opsz\,wdth\,wght.ttf);
}
@font-face {
    font-family: 'FontThree';
    src: url(fonts/LibreBaskerville-Regular.ttf);
}
/*rotation animation for the spinner-Khawla*/
@keyframes spin{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(360deg);}
}
/* to add the Animation effect-Walaa */
@keyframes moveText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
}
/* Animation-Walaa */
@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
}
html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
/* To Style the Header with the navigation */
header{
    background-color: #b89f86;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}
header img{
    height: 10%;
    width: 10%;
}
nav, nav a{ 
    display: flex;
    margin: 1rem;
    color: rgb(89, 51, 34);
    text-decoration: none;
    font-family: 'FontOne';
    font-size: 1.5vw;
    font-weight: bold;
    transition: 1s;
}
nav a{
    color: rgb(166, 137, 107);
    border: 0.2rem solid rgb(89, 51, 34);
    border-radius: 3rem;
    background-color: rgb(89, 51, 34);
    padding:0.4rem ;
}
nav a:hover{
    color: rgb(250, 246, 239);
    text-decoration: underline;
    font-weight: bolder;
    padding: 0.5rem;
}
/* To Style the Main */
main{
    background-color: rgb(250, 246, 239);
}
/* Home-Walaa */
/* to style the text box in the home page */
.text-box {
    width: auto;
    background-color: #8d5a3b; 
    padding: 1vw;
    overflow: hidden; 
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.2);
    margin: 1vw auto;
    direction: ltr;
    text-align: left; 
}
/* to style the animation text */
.moving-text {
    display: inline-block;
    white-space: nowrap;
    color: antiquewhite;
    font-size: 2vw;
    animation: moveText 22s linear infinite;
}
/* This is to style the trending movies text */
.container-home {
    width: 100%;
    text-align: center;
    overflow: hidden; 
}
/* to style the the slide text animation in home page */
.slide-text-home {
    display: inline-block; 
    font-size: 2vw;
    color: rgb(89, 51, 34);
    font-family: 'FontTwo';
    font-weight: bold;
    position: relative;
    animation: slideIn 2s ease-out forwards;
}
/* To set up the trending movies images */
.home-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 3rem auto 0 auto;
    width: 80%;
    height: 28.125rem;
    gap: 1rem;
    padding-bottom: 2rem;
}
/* To set up the trending movies images */
.home-container img{
    width: 12%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    object-fit: cover;
    border-radius: 1rem;
    border: 0.2rem solid rgb(89, 51, 34);
    transition: all ease-in-out 0.5s;
}
/* To set up the trending movies images with hover effect */
.home-container img:hover{
    width: 25%;
}  
/* To set up the button in the home page */
.btn-home{
  text-align: center;
  margin-top: 2rem;
}
/* To set up the show more button */
.show-button{
    background-color: rgb(255,179,71);
    color: rgb(250, 246, 239);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family: 'FontTwo';
    font-size: 1vw;
    padding: 0.7rem;
    border-radius: 3rem;
    transition: 1s ease;
}
/* To set up the button with hover effect */
.show-button:hover{
    background-color: rgb(249, 165, 48);
    color: rgb(250, 246, 239);
    font-size: 1.3vw;
    padding:1 ;
}
/* To style the introducing video in the home page */
.video-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    padding: 1.5rem;
    background-color: #b89f86; 
    border-radius: 1rem; 
    width: 60%; 
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2); 
}
.video-home video {
    width: 100%; 
    border-radius: 0.5rem; 
}  
/* To style the text */
.container-home2{
    width: 100%;
    text-align: center;
    overflow: hidden; 
    display: inline-block; 
    font-size: 2vw;
    color: rgb(89, 51, 34);
    font-family: 'FontTwo';
    font-weight: bold;
    position: relative;
}
/* Insert the audio */
.audio-center {
    display: flex;
    justify-content: center; 
    margin: 2rem 0; 
}
/* To style the cinema halls feature in the home page */
.cinema-slider-home {
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
    justify-content: center;
    flex-wrap: wrap;
}  
.cinema-slide-home {
    width: 20rem;
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.5);
}
/* To style the cinema halls feature images in the home page */
.cinema-image-home {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 1rem;
}  
.cinema-image-home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 1rem;
}
.cinema-info-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    padding: 2rem; 
    border-radius: 1rem;
    box-sizing: border-box;
}  
/* To style the cinema halls feature images with hover effect to show the info */
.cinema-image-home:hover .cinema-info-home {
    opacity: 1;
}
.cinema-info-home h2 {
    font-size: 1.5vw;
    font-family: 'FontThree';
    margin-bottom: 0.8rem;
}
.cinema-info-home p {
    font-size: 1vw;
    font-family: 'FontThree';
    line-height: 1.6;
    margin: 0;
}
/* This section is to set up the images of different features in the cinema */
.gallery-home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem; 
    justify-content: center;
    margin-top: 2rem; 
} 
.gallery-home figure {
    width: 30%; 
    text-align: center;
    margin: 0;
    font-size: 1.5vw; 
}
.gallery-home img {
    width: 90%;
    height: auto; 
    aspect-ratio: 220 / 150; 
    object-fit: cover;
    border-radius: 0.625rem; 
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.2); 
}
/* To style the cinema feature images with hover effect */
.gallery-home img:hover {
      transform: scale(1.05);
} 
.gallery-home figcaption {
      margin-top: 0.75rem; 
      font-size: 1vw; 
      font-family: 'FontThree';
      font-weight: 500;
      color: #4b2e2e;
}
/* To style the lightbox gallery section */
.lightbox {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.lightbox img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 0.625rem; 
}
.lightbox span {
    position: absolute;
    top: 1.25rem;   
    right: 1.875rem; 
    color: white;
    font-size: 2vw; 
    cursor: pointer;
}
  

/* Amjaad section movies */
.movie-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
}
.movie-row img {
    width: 15%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.5s;
} 
.movie-row img:hover {
    transform: scale(1.05);
}
hr {
    border: 0.1rem solid #ccc;
    margin: 3rem auto;
    width: 90%;
}
/* modal - style the bg*/
.modal {
    align-items: center;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
}
/* Video modal style */
#modalTrailer {
    width: 100%;
}
/* Audio modal style*/
#modalAudio {
    margin-top: 1rem;
    width: 100%;
}
/* to Style the movie category headings */
.film-category h2{
    color: rgb(89, 51, 34);
    font-size: 2vw;
    text-align: center;
    font-family: FontOne;
}
/* to style the modal content */
.modal-content-2 {
    background-color: rgb(250, 246, 239);
    margin: 15% auto;
    padding: 2rem;
    width: 50%;
    border-radius: 1rem;
    max-width: 60rem;
    position: relative;
    text-align: left;

}
/* to style the closing btn */
.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2vw;
    cursor: pointer;
}
/* to style the booking button */
#ticketButton {
    display: block;
    margin: 1rem auto;
    display: none;
    margin-top: 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    font-family: 'FontTwo';
    font-size: 1vw;
    padding: 0.7rem;
    border-radius: 3rem;
    background-color: rgb(255,179,71);
    color: rgb(250, 246, 239);
    transition: 1s;

}
/* To add over to the booking button */
#ticketButton:hover {
    background-color: rgb(249, 165, 48);
    color: rgb(250, 246, 239);
    font-size: 1.1vw;
    padding:0.8rem ;
}


/*Khawla snacks*/
/*product type design*/
.producttype{
    font-family:'FontOne';
    margin: 0;
    font-size: 2vw;
    color: rgb(89, 51, 34);
}
/*to coordinate the cart and popcorn title at same level*/
.container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 2rem;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
}
/*put the titles on the center*/
.title{
    flex: 1;
    text-align: center;
}
/*style cart icon*/
.cart{
    width: 3rem;
    height: auto;
    cursor: pointer;
    margin-top: 1rem;
    position: relative;
    right: 0;
    z-index: 10;
    transition: 1s;
}
.cart:hover{
    width: 3.3rem;
    height: auto;
}
/*style drop-down cart box */
#cartbox{
    position: absolute;
    right: 1rem;
    background-color: #ccc;
    border: 0.1rem solid #b89f86;
    border-radius: 1rem;
    padding: 1rem;
    width: 20%;
    z-index: 100;
    display: none;
    flex-direction: column;
    font-size: 1vw;
}

#cartbox ul{
    margin-bottom: 1rem;
}
#cartbox p{
    margin-top: 0.rem;
}
/*style product display grid*/
.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    justify-content: center;
    padding: 2rem ;
    margin: 0 auto;
    width: 100%;
    max-width: 80%;
    box-sizing: border-box;
    align-items: center;
}
/*design products card*/
.Wrapper1{
   background-color: #b89f86; 
    border:0.1rem solid #ccc;
    padding:1.2rem ;
    border-radius: 1rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    transition: 0.5s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
/*zoom effect when hovering the cards*/
.Wrapper1:hover{
    transform: scale(1.1);
    padding: 1.3rem;
}
.Wrapper1 img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 0.5rem;
    object-fit: cover;
    margin-bottom: 1rem;
}
.Wrapper1 p{
    font-size: 1vw;
    font-family: 'FontTwo';
}
/*dropdown list of products size and type optins*/
.size{
    font-size: 1vw;
    text-align: center;
    color:rgb(89, 51, 34);
    border-radius: 0.75rem;
    border: 0.1rem;
    background-color:#f3eee6 ;
    width: fit-content;
    padding: 0.3rem 0.5rem;
    min-width: 10rem;
    box-sizing: border-box;
}
/*add to cart button style*/
.addtocart{
    margin-top: 0.75rem;
    padding: 0.5rem ;
    background-color: #d47500;
    color:white ;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    justify-content: center;
    font-size: 1vw;
    font-family: 'FontThree';
    transition: background-color 0.3s ease, padding 1s;
    overflow: hidden;
    display: flex;
    align-items: center;
}
/*hover effect on ad to cart button*/
.addtocart:hover{
    background-color: #d68726;
    padding: 1rem;
}
/*design between size list and add to cart button*/
.size,.addtocart{
    width: 80%;
    max-width: 16rem;
    margin: 0 auto;
}
/*check mark style*/
.check{
    color: green;
    font-size: 0.7vw;
    z-index: 2;
    position: absolute;
}
/*formatting the circle with the check mark*/
.circle{
    position: relative;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    justify-content: center;
    display: none;
    align-items: center;
    background-color: rgb(234, 230, 224);
    color: green;
    margin-right: 0.5rem;
}
/*design add to cart button after click on it*/
.addtocart.added{
    background:linear-gradient( #d37500,rgb(238,148,40),rgb(255,179,71));
}
/*show circle after adding*/
.addtocart.added .circle{
    display: flex;
}
/*rotary bearnig circut */
.spinner{
    position:absolute;
    width: 1rem;
    height: 1rem;
    border: 0.2rem solid transparent;
    border-top: 0.2rem solid green ;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    z-index: 1;
}
/*total price size*/
#total-price{
    font-size: 1vw;
    font-family: 'FontThree';
}
/*style offer section*/
.snackoffers{
    padding: 2rem;
    max-width: 90%;
    margin: auto;
    column-count: 3;
    column-gap: 2rem;
    column-rule: 0.4rem rgb(89, 51, 34) dashed;
}
/*style the head in offer section*/
.snackoffers h1{
    text-align: center;
    color: rgb(89, 51, 34);
    font-size: 2vw;
    margin-bottom: 2rem;
    column-span: all;
}
/*style offer cards*/
.s-offers{
    background-color: #f3eee6;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.75rem;
    font-size: 1.7vw;
   color: rgb(89, 51, 34);
   break-inside: auto;
   font-family: 'FontThree';
}
/*style offer title*/
.s-offers h2{
    margin-top: 0;
    font-size: 1.6vw;
    color: #d47500;
    font-family: 'FontOne';
}
.bookingbtn{
    display: flex;
    justify-content: center;
    margin: 1.3rem;
}
#booking1{
    text-decoration: none;
    font-family: 'FontTwo';
    font-size: 1vw;
    padding: 0.5rem;
    border-radius: 3rem;
    background-color: rgb(255,179,71);
    color: rgb(250, 246, 239);
    transition:1s ease;
}
#booking1:hover{
    background-color: rgb(249, 165, 48);
    color: rgb(250, 246, 239);
    font-size: 1.2vw;
    padding:0.7 ;
}


/* Offers-Amna */
/* offers Page Style-Amna */ 
#offers{
  font-family:'FontOne' ;
  font-size:2.5vw;
  text-align: center;
  font-weight: bold;
  color: rgb(89, 51, 34);
}
#offers2,#offers3{
  font-family:'FontOne' ;
  font-size:2vw;
  text-align: center;
  font-weight: bold;
  color: rgb(89, 51, 34);
}
.slider-wrapper{
  position: relative;
  max-width: 100%;
  margin: 4rem auto;
  display: flex;
  align-items:center ;
  justify-content: center;
  overflow: hidden;
  touch-action: none;

}
.viewport{
  width: 100%;
  overflow: hidden;
}
.coupon-container{
  display: flex;
  transition:transform 0.5s ease-in-out;
  will-change: transform;
  cursor: grab;

}
.arrow{
  font-size: 1.3vw;
  color: rgb(166, 137, 107);
  background-color:rgb(89, 51, 34) ;
  padding: 1rem;
  cursor:pointer ;
  transition: background-color 1s;
}
.arrow:hover{ 
   background-color: #D6C0B3;

}
.coupon{
    width: 25.4%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width:2.5rem;
  padding: 2rem;
  margin: 0 1rem;
  font-family:'FontTwo' ;
  font-size:2vw;
  color:rgb(89, 51, 34);
  background-color: rgb(250, 246, 239);
  border: 0.2rem solid rgb(166, 137, 107);
  border-radius:1.2rem;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.8s ease-in;
  flex-shrink: 0;
}
/* on mouseover */
.coupon:hover{
  background-color: rgb(212, 117, 0);
   color: rgb(250, 246, 239) ;
  border: 0.2rem solid rgb(212, 117, 0);
  font-family: 'FontThree';
  transform: scale(0.95);
  box-shadow: 0 0.4rem 1rem rgba(90, 88, 88, 0.2);
}
/* When pressed or activated */
.coupon.active {
  background-color: rgb(212, 117, 0);
  color: #fff;
  border-color: rgb(212, 117, 0);
  transform: scale(0.9);
}
.modal{
  display:none ;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
   /* Glass effect */
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem); 
}
.modal-content{
  display: block;
  margin: 5rem auto;
  max-width:90%;
  max-height: 80%;
  border-radius:1.2rem ;
  box-shadow:0 0.8rem 3rem rgba(0, 0, 0, 0.4) ;
  /* Transparent gradient for reflection */
  -webkit-box-reflect:below 0rem linear-gradient(transparent, rgba(0,0,0,0.5)) ;
}
/*To close the image page*/
.close{
  position:absolute;
  top: 1rem;
  right: 1rem;
  color: #000000;
  font-size: 3.4vw;
  cursor: pointer;
  border-radius:50% ;
  padding: 0.4rem 1rem;
  z-index: 1000;
}
#select{
    text-align: center;
    width: 20%;
    height: 3rem;
    border: 0.2rem solid rgb(89, 51, 34);
    color: #333;
    border-radius: 0.8rem;
    padding: 0rem;
    font-size: 1.4vw;
    background-color:#fff ;
    text-align: center;
    display: block;
    margin: 2rem auto;
}
.rules-box{
    width: 30rem;
    margin: 4rem auto;
    border: 0.2rem solid rgb(166, 137, 107);
    border-radius: 1rem;
    font-family:'FontThree';
    overflow: hidden;
    background-color: rgb(250, 246, 239);
}
.rules-header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.3rem;
  background-color: #D6C0B3;
  font-size: 1.3vw;
  font-weight:600 ;
  color: rgb(89, 51, 34);
  cursor: pointer;
  user-select: none;
  transition: all 0.5s ease;
  border-radius: 0.5rem;
  border: 0.2rem solid transparent;
 
}
.rules-title{
  font-size:1.5vw;
  text-align:center;
  transition: transition 0.3s ease;
}
.arrow-btn{
    margin-top: 0.5rem;
  font-size: 1.5vw;
  font-family: 'FontTwo';
  transition: transform 0.3s ease-out, color 0.3s ease;
  background: none;
  border: none;
  outline: none;

}
.booking-btn{
    display: flex;
    justify-content: center;
    margin: 1.3rem;
}
.booking-btn a{
    text-decoration: none;
    font-family: 'FontTwo';
    font-size: 1vw;
    padding: 0.7rem;
    border-radius: 3rem;
    background-color: rgb(255,179,71);
    color: rgb(250, 246, 239);
    transition: 1s;
}
#Booking:hover{
    background-color: rgb(249, 165, 48);
    color: rgb(250, 246, 239);
    font-size: 1.2vw;
    padding:1rem ;
}
.rules-header.active{
    background-color: rgb(212, 117, 0);
    color: rgb(255, 255, 255);
    border-color: rgb(212, 117, 0);
    transform: scale(0.9);
}
.rules-header:hover{
  background-color: rgb(212, 117, 0);
  color: rgb(250, 246, 239);
  border:0.2rem solid rgb(212, 117, 0);
  transform: scale(0.95);
  box-shadow: 0 0.4rem 1rem rgba(90, 88, 88, 0.2);
}
.rules-header:hover{
  color: #D6C0B3;
  transform: none;
}
.rules-content{
  max-height: 0;
  overflow: hidden;
  background-color:#fff ;
  color: rgb(89, 51, 34);
  padding: 0 2rem;
  transform: max-height 0.4s ease, padding 0.3s ease;
  text-align: left;
  font-family: 'FontThree';

}
.rules-content.open{
  max-height: 5%;
  padding: 1.5rem 2rem;
}

/* Booking Page Style-Ruqaya */
/* heading 2 */
#book{
    text-align: center;
    font-family: 'FontOne';
    font-weight: bolder;
    font-size: 2vw;
    color: rgb(89, 51, 34);
}
/* Column */
.NameWay{
    width: 100%;
    padding-top: 1rem;
    column-count: 2;
    column-gap: 6%;
    column-rule: 0.4rem rgb(89, 51, 34) dashed;
}
#fname{
    display: block;
    margin-bottom: 0.8rem;
    margin-left: 2rem;
}
#fname input{
    display: block;
    width: 80%;
    margin-top: 0.4rem;
    padding: 0.5rem;
    transition: 1s;
    justify-self: center;
}
#fname input:hover{
    padding: 1rem;
    color: rgb(89, 51, 34);
}
#ways, #fname{
    font-family: 'FontOne';
    font-weight: bold;
    font-size: 1.3vw;
    text-align: center;
    color: rgb(89, 51, 34);
}
#ways label{
    transition: 1s;
    text-align: center;
    font-family: 'FontTwo';
    font-weight: 500;
    margin: 1rem;
    color: rgb(166, 137, 107);
    font-size: 1vw;
}
#ways label:hover{
    color: rgb(255,179,71);
    padding: 0.3rem;
}
#fway{
    width: 70%;
    margin-left: 2.8rem;
}
/* Date and Day */
.Calendar{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    width: 100%;
    overflow-x: auto;
    align-items: center;
    margin-top: 2rem;
    border-top: 0.1rem solid rgb(166, 137, 107);
    padding: 1rem 0;
    background-color: rgb(89, 51, 34);
    color: antiquewhite;
    font-size: 1vw;
}
.Calendar li{
    position: relative;
    list-style-type: none;
    border-radius:0.5rem;
    transition: 1s;
    font-weight: 600;
    font-size: 1vw;
}
#month{
    color:rgb(166, 137, 107) ;
    font-size: 1vw;
}
.dateday{
    text-align:center;
    font-family: 'FontThree';
    transition: 1s;
}
.dateday:hover{
    background-color: rgb(255,179,71);
    border: 0.2rem solid rgb(255,179,71);
    color: rgb(89, 51, 34);
    border-radius: 3rem;
    padding: 0.5rem;
}
/* To style the Screen */
.screen{
    width: 100%;
    border-top: 0.3rem solid rgb(89, 51, 34);
    position: relative;
    margin-top: 5rem;
    border-radius: 20%;
    overflow: hidden;
    box-shadow:inset 0rem 1rem 2rem rgb(233, 207, 196);
    text-align: center;
    padding-top: 1.5rem1;
    color: rgb(89, 51, 34);
    font-size: 1.2vw;

}
/* Details about chairs */
.details{
    width: 100%;
    margin-top: 4rem;
    justify-content: center;
    display: flex;
}
.details_chair{
    display: flex;
    align-items: center;
    font-family: 'FontThree';
    font-size: 1vw;
}
.details_chair li{
    position: relative;
    list-style-type: none;
    border-radius:0.5rem;
    transition: 3s;
    margin:1rem 2.5rem;
    font-weight: 600;
    font-size: 1vw;
    color: rgb(89, 51, 34);
    padding-left: 3rem;
}
.details_chair li::before{
    position: absolute;
    content: '';
    width: 2rem;
    height: 1.5rem;
    left: 0;
    background-color: rgb(255,179,71);
    border-radius: 0.5rem;
    transition: 1s;
}
.details_chair .booked::before{
    background-color: rgb(89, 51, 34);
}
.details_chair .available::before{
    background-color: rgb(166, 137, 107);
}
/* To style a Cinema Seats Booking */
.Chair{
    margin-top: 2%;
    justify-items: center;
}
.row{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.row li{
    position: relative;
    width: 2rem;
    height: 1.5rem;
    background-color: rgb(166, 137, 107);
    list-style: none;
    border-radius: 0.5rem;
    transition: 1s;
    font-size: 0.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(89, 51, 34);
    font-family: 'FontThree';
    font-weight: 600;
}
/* line under the square chair */
.row li::before{
    content: '';
    position: absolute;
    width: 80%;
    height: 0.5rem;
    background-color: rgb(184,184,184,1);
    bottom: -0.8rem;
    border-radius: 1rem;
}
.row li:hover{
    background-color: rgb(255,179,71);
    color: rgb(166, 137, 107);
    font-size: 0.9vw;
    padding: 0.2rem;
}
.row li:active{
    background-color: rgb(255,179,71);
    color: rgb(166, 137, 107);
    font-size: 0.9vw;
    padding: 0.2rem;
}
#booked{
    background-color: rgb(89, 51, 34);
    color: rgb(250, 246, 239);
}
#booked:hover{
    background-color: rgb(89, 51, 34);
    color: rgb(250, 246, 239);
    font-size: 0.7vw;
    padding: 0;
}
/* a gap after 5 chairs from the start and the end */
.row li:nth-child(6){
    margin-right: 2rem;
}
.row li:nth-last-child(7){
    margin-right: 2rem;
}
/* The letters beside the chairs */
.row span{
    color: rgb(89, 51, 34);
    opacity: 0.5;
    font-weight:600;
    font-size: 0.8vw;
    font-family: 'FontThree';
    margin:0.5rem;
}
/* multi bg */
.mbg{
    background-image: 
        url('images/multibg.png'),
        url('images/multibg.png');
        background-repeat: no-repeat, no-repeat;
        background-position: left, right;
        background-size: 30%, 30%;
}
/* Style The Form */
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
#form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    text-align: left;
    max-width:50rem;
}
.form-group label{
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    font-family: 'FontOne';
    font-size: 1.2vw;
    color: rgb(89, 51, 34);
}
.form-group input{
    width:100% ;
    padding: 0.3rem;
    font-size: 1vw;
    border: 0.1rem solid rgb(89, 51, 34);
    border-radius: 0.2rem;
    transition: 1s;
}
.form-group input:hover{
    padding: 1rem;
    color: rgb(89, 51, 34);
}
/* submit btn style */
#submit{
    background-color: rgb(89, 51, 34);
    color: rgb(250, 246, 239);
    border: 1rem rgb(89, 51, 34);
    border-radius: 3rem;
    padding: 0.5rem;
    font-family: 'FontThree';
    font-weight: 100;
    font-size: 0.7vw;
    transition: 1s;
}
#submit:hover{
    background-color: rgb(138, 89, 67);
    color: rgb(233, 207, 196);
    border: 1rem rgb(138, 89, 67);
    border-radius: 3rem;
    padding: 0.7rem;
    font-family: 'FontThree';
    font-weight: bolder;
    font-size:0.9vw ;
}
/* btns style */
.btns{
    display: flex;
    justify-content: space-between;
    margin: 1.3rem;
}
.btns a{
    text-decoration: none;
    font-family: 'FontTwo';
    font-size: 0.8vw;
    padding: 0.5rem;
    border-radius: 3rem;
    background-color: rgb(255,179,71);
    color: rgb(250, 246, 239);
    transition: 1s;
}
#offersbtn:hover, #snacksbtn:hover{
    background-color: rgb(249, 165, 48);
    color: rgb(250, 246, 239);
    font-size: 1vw;
    padding:0.7 ;
}
footer{
    background-color: #b89f86;
    color: rgb(250, 246, 239);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    width: auto;
    font-family: 'FontThree';
    font-size: 0.8vw;
}
#contact{
    color: rgb(250, 246, 239);
    text-decoration: none;
}
/* Two Responsiveness Devices */
/* Extra small devices (Smart Phones) */
@media screen and (max-width:600px) {
    nav, nav a{ 
        font-size: 2vw;
        margin: 0.1rem;
    }
    nav a{
        padding: 0.1rem ;
    }
    nav a:hover{
        padding: 0.2rem;
    }
    /* Home-Walaa */
    .text-box,
    .video-home {
      width: 95%;
      padding: 0.5rem;
    }
    .moving-text,
    .slide-text-home,
    .container-home2 {
      font-size: 4vw;
    }
  
    .home-container {
      flex-direction: column;
      width: 95%;
      height: auto;
    }
  
    .home-container img {
      width: 40%;
      height: auto;
    }
  
    .home-container img:hover{
      width: 30%;
    }
  
    .btn-home {
      margin-top: 1rem;
    }
  
    .show-button {
      font-size: 4vw;
      padding: 1.5rem;
    }
  
    .show-button:hover{
      font-size: 3vw;
      padding: 1rem;
    }
  
    .cinema-slider-home {
      flex-direction: column;
      padding: 0 1rem;
      gap: 1rem;
      align-items: center;
    }
  
    .cinema-slide-home {
      width: 90%;
    }
  
    .cinema-info-home h2 {
      font-size: 4vw;
    }
  
    .cinema-info-home p {
      font-size: 3vw;
    }
    .gallery-home figure {
      width: 50%;
      font-size: 4vw;
    }
    .gallery-home figcaption {
      font-size: 3.5vw;
    }
    .lightbox span {
      font-size: 6vw;
    }
    /* Movies Headings-Amjaad */
    .film-category h2{
        font-size: 4vw;
    }
    .close-btn {
        font-size: 5vw;
    }
    #ticketButton {
        font-size: 1.8vw;
        padding: 0.7rem;

    }
    #ticketButton:hover {
        font-size: 2vw;
        padding:1rem ;
    }
    /* Snacks-Khawla */
    .items{
        grid-template-columns: 1fr;
        padding: 1rem 0.5rem;
        gap: 0.8rem;
    }
    .snackoffers{
        column-count: 1;
        padding: 1rem 0.5rem;
    }
    .snackoffers h1{
        font-size: 2vw;
         margin-bottom: 1rem;
    }
    .s-offers{
        font-size: 1vw;
        padding: 0.8rem;
        border-radius: 0.5rem;
    }
    .s-offers h2{
        font-size: 2vw;
    }
    .container{
        padding: 0.5rem;
        flex-direction: column;
        align-items: center;
    }
    .Wrapper1{
        height: 20rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 0.75vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .Wrapper1 img{
        width: 100%;
        height: auto;
        max-height: 8rem;
        margin-bottom: 0.5rem;
       object-fit: contain;
    }
    .Wrapper1:hover{
        transform: none;
        padding: 0.8rem;
    }
    #cartbox{
        width: 10%;
        right: 0.5rem;
        font-size: 0.8vw;
        padding: 0.5rem;
    }
    .size,.addtocart{
        font-size: 2.8vw;
        padding: 0.3rem 0.5rem;
    }
    .cart{
        width: 1.8rem;
        margin-top: 0.2rem;
    }
    .producttype{
        font-size: 3vw;
    }
    .size{
        min-width: auto;
    }
    .addtocart{
        padding: 0.4rem 0.6rem;
    }
    /* Offers-Amna */
    #offers{
        font-size: 3.5vw;
    }
    #offers2, #offers3{
        font-size: 3vw;
    }
    .coupon{
        width: 58.5%;
        font-size: 3vw;
        padding: 1rem;
        margin: 0 0.5rem;
    }
    .arrow{
        font-size: 2vw;
        padding: 0.4rem;
    }
    .modal-content{
        max-width: 95%;
        max-height: 70%;
        margin: 0.2rem auto;
    }
    .close{
        font-size: 3vw;
    }
    #select{
        width:25%;
        font-size: 2vw;
        height: 2rem;
    }
    .rules-box{
        width: 60%;
        font-size: 3vw;
    }
    .rules-header{
        font-size: 2vw;
        padding: 0.8rem;
    }
    .rules-title{
        font-size: 2vw;
    }
    .rules-content{
        font-size: 2vw;
        padding: 0rem ;
    }
    .arrow-btn{
        font-size: 2vw;
    }
    .booking-btn a {
        font-size: 1.2vw;
        padding: 0.8rem;
    }
    .slider-wrapper{
        margin: 2rem auto;
    }
    /* Booking-Ruqaya */
    #fname{
        display: block;
        margin-top: 4rem;
    }
    #fname input{
        align-self: center;
        width: 60%;
    }
    #ways, #fname{
        font-family: 'FontOne';
        font-weight: bold;
        font-size: 2vw;
        text-align: center;
        color: rgb(89, 51, 34);
    }
    #ways label{
        display: flex;
        flex-direction: column;
        margin-top: 0.3rem;
        font-size: 2vw;
    }
    #fway{
        width: 50%;
    }
    #fway label{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    .Calendar{
        gap: 1rem;
        font-size: 2.5vw;
    }
    #month{
        color:rgb(166, 137, 107) ;
        font-size: 2vw;
    }
    .dateday{
        text-align:center;
        font-family: 'FontThree';
        transition: 1s;
    }
    .screen{
        margin-top: 2rem;
        font-size: 2vw;
    }
    .details{
        margin-top: 0rem;
    }
    .details_chair li{
        padding-left: 1.5rem;
    }
    .details_chair li{
        font-size: 1.5vw;
        text-align: center;
    }
    .details_chair li::before{
        height: 1rem;
        width: 1.2rem;
    }
    .row{
        width: 100%;
        height: 2rem;
    }
    .row li{
        font-size: 1.5vw;
        padding: 0rem;
        border-radius: 0.4rem;
        height:1rem ;
    }
    .row li:hover{
        font-size: 2vw;
        padding: 0.1rem;
    }
    #booked:hover{
        font-size: 1.5vw;
    }
    .form{
        margin-top: 1rem;
    }
    #form{
        gap: 0.5rem;
    }
    .form-group label{
        font-size: 3vw;
    }
    .form-group input{
        font-size: 2vw;
    }    
    .form-group input:hover{
        padding: 0.5rem;
    }
    #submit{
        font-size: 2vw;
    }
    #submit:hover{
        font-size:2.2vw ;
    }
    .btns a{
        font-size: 2vw;
    }
    #offersbtn:hover, #snacksbtn:hover{
        font-size: 2.2vw;
    }
    footer{
        font-size: 1.5vw;
    }
}

/* Medium devices (Tablets) */
@media screen and (max-width:768px) {
    nav, nav a{ 
        font-size: 2.5vw;
        margin: 0.3rem;
    }
    nav a:hover{
        padding: 0.2rem;
    }
    /* Home-Walaa */
    .text-box{
        width: 90%;
        padding: 1.5rem;
      }
    .video-home {
      width: 80%;
      padding: 1.5rem;
    }
  
    .moving-text,
    .slide-text-home,
    .container-home2 {
      font-size: 2.5vw;
    }
  
    .home-container {
      width: 90%;
      height: auto;
    }
  
    .home-container img {
      width: 25%;
      height: auto;
    }
  
    .home-container img:hover{
      width: 30%;
    }
  
    .show-button {
      font-size: 2.5vw;
      padding: 0.7rem 2rem;
    }
  
    .show-button:hover{
      font-size: 3vw;
      padding: 1rem;
    }
  
    .cinema-slide-home {
      width: 60%;
    }
  
    .cinema-info-home h2 {
      font-size: 2.5vw;
    }
  
    .cinema-info-home p {
      font-size: 2vw;
    }
  
    .gallery-home figure {
      width: 40%;
      font-size: 2vw;
      padding: 1rem;
    }
  
    .gallery-home figcaption {
      font-size: 1.8vw;
    }
  
    .lightbox span {
      font-size: 4vw;
    }
    /* Snacks-Khawla */
    .size{
        font-size: 3vw;
        height: 2.5rem;
        width: 70%;
        max-width: 18rem;
    }
    .size,.addtocart{
        font-size: 2vw;
        width: 90%;
    }
    .items{
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
        padding: 1rem;
    }
    .addtocart{
        font-size: 2vw;
        padding: 1rem 2rem;
    }
    .Wrapper1{
        padding: 1rem;
        width: 50%;
        height: auto;
        font-size: 1.3vw;
        justify-self: center;
    }
    .Wrapper1:hover{
        transform: none;
    }
    .Wrapper1 img{
        width: 100%;
        height: auto;
        border-radius: 0.4rem;
        margin-bottom: 0.8rem;
    }
    .check{
        font-size:2vw ;
    }
    .Wrapper1 p{
        font-size: 3vw;
    }
    .producttype{
        font-size: 4vw;
    }
    .title{
        font-size: 2.5vw;
    }
    .container{
        padding: 1rem;
        flex-direction: column;
        align-items: center;
    }
    .cart{
        width: 2.2rem;
        margin-top: 0.4rem;
    }
    .cart:hover{
        width: 2.5rem;
    }
    #cartbox{
        width: 50%;
        right: 22%;
        font-size: 2vw;
        padding: 0.8rem;
    }
    #cartbox p{
        font-size: 2vw;
    }
    .snackoffers{
        column-count: 1;
    }
    .snackoffers h1{
        font-size: 4vw;
    }
    .s-offers{
        font-size: 2vw;
        padding: 1rem;
    }
    .s-offers h2{
        font-size: 3vw;
    }
    #booking1{
        font-size: 2vw;
    }
    #booking1:hover{
        font-size: 2.3vw;
        padding:1 ;
    }
    /* Offers-Amna */
    #offers{
        font-size: 3vw;
    }
    #offers2, #offers3{
        font-size: 2.5vw;
    }
    .coupon{
        width:46.2% ;
        font-size: 3vw;
        padding: 1.6rem;
        margin: 0 0.8rem;
    }
    .arrow{
        font-size: 1vw;
        padding: 1rem;
    }
    .modal-content{
        max-width: 90%;
        max-height: 80%;
        margin: 4rem auto;
    }
    .close{
        font-size: 5vw;
        padding: 0.6rem 1.2rem;
    }
    #select{
        width:40%;
        font-size: 2.5vw;
        height: 3rem;
        padding: 0rem;
    }
    .rules-box{
        width: 70%;
        font-size: 3vw;
    }
    .rules-header{
        font-size: 2vw;
        padding: 1.2rem;
    }
    .rules-title{
        font-size: 2.5vw;
    }
    .rules-content{
        font-size: 2vw;
        padding: 0rem;
    }
    .arrow-btn{
        margin-top: 0.5rem;
        font-size: 2vw;
    }
    .booking-btn a {
        font-size: 2vw;
        padding: 1rem;
    }
    #Booking:hover{
    font-size: 2.2vw;
    padding:1.3rem ;
    }
    .slider-wrapper{
        margin: 3rem auto;
    }
    /* Booking-Ruqaya */
    #fname{
        display: block;
        margin-top: 4rem;
        margin-left: 2rem;
    }
    #ways, #fname{
        font-family: 'FontOne';
        font-weight: bold;
        font-size: 2vw;
        text-align: center;
        color: rgb(89, 51, 34);
    }
    #ways label{
        display: flex;
        flex-direction: column;
        margin-top: 0.3rem;
        font-size: 2vw;
    }
    #fway label{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    #fway{
        margin-left: 1.2rem;
    }
    .Calendar{
        gap: 1rem;
        font-size: 3vw;
    }
    #month{
        color:rgb(166, 137, 107) ;
        font-size: 2vw;
    }
    .dateday{
        text-align:center;
        font-family: 'FontThree';
        transition: 1s;
    }
    .dateday:hover{
        padding: 0.3rem;
    }
    .screen{
        margin-top: 2rem;
        font-size: 2vw;
    }
    .details{
        margin-top: 0rem;
    }
    .details_chair li{
        padding-left: 1.5rem;
    }
    .details_chair li{
        font-size: 1.5vw;
        text-align: center;
    }
    .details_chair li::before{
        height: 1rem;
        width: 1.2rem;
    }
    .row{
        width: 100%;
        height: 2rem;
    }
    .row li{
        font-size: 1.5vw;
        padding: 0rem;
        border-radius: 0.4rem;
        height:1rem ;
    }
    .row li:hover{
        font-size: 2vw;
        padding: 0.1rem;
    }
    #booked:hover{
        font-size: 1.5vw;
    }
    .form{
        margin-top: 1rem;
    }
    #form{
        gap: 0.5rem;
    }
    .form-group label{
        font-size: 3vw;
    }
    .form-group input{
        font-size: 2vw;
    }
    .form-group input:hover{
        padding: 0.5rem;
    }
    #submit{
        font-size: 2vw;
    }
    #submit:hover{
        font-size:2.2vw ;
    }
    .btns a{
        font-size: 2vw;
    }
    #offersbtn:hover, #snacksbtn:hover{
        font-size: 2.2vw;
    }

    footer{
        font-size: 1.5vw;
    }
}


